.container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.login-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-form h2 {
  text-align: center; /* Center the heading text horizontally */
}

.form-group {
  margin-bottom: 15px; /* Add some bottom margin to the form groups */
}

.form-group label {
  display: block; /* Display the label as a block element to stack it vertically */
  font-weight: bold;
}

.form-group input {
  width: 100%; /* Take up the full width of the container */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%; /* Take up the full width of the container */
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049; /* Change the background color on hover */
}
 
